.cart-main {
    margin-top: 84px;
}

.cart-header{
    padding: 0 15px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-header>div{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.full-cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.delete{
    background: none;
    border: none;
    color: red;
    font-weight: bold;
    font-size: 16px;
}