.body{
    position: relative;
    width: 100%;
    padding-top: 140px;
}

.category-buttons {
    width: 100%;
    height: 35px;
    background: rgba(255, 242, 224, 0.932);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 84px;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.sections {
    width: 100%;
}

.main {
    width: 100%;
    text-align: center;
}

.product-scroll {
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.product-scroll>div {
    width: 140px;
    display: inline-block;
    background: rgba(255, 210, 164, 0.842);
    margin: 10px;
    border-radius: 3px;
    padding: 7px;
}

.product-scroll>div>h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}