.whole-header{
    width: 100%;
    z-index: 999; 
    position: fixed;
    top: 0;
}

.header{
    width: 100%;
    height: 70px;
    background: rgb(20, 10, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
      
}

.menu {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid white;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.buns-container {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 4px;
}

.buns-container>div {
    width: 100%;
    height: 6px;
    border-radius: 2px;
    background: white;
}

.menu-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dropDownMenu{
    background-color: rgba(20, 10, 0, 0.719);
    height: 90vh;
    width: 0;
    overflow: hidden;
    transition: 1000ms ease-in, 500ms;
    position: fixed;
}

.dropDownMenuShow{
    height: 90vh;
    width: 230px;
    color: white;
}

.menu-list>h2{
    width: 220px;
    margin-left: 10px;
}

.logo>img {
    width: 100px;
    margin-top: 15px;
}

.right-buttons {
    width: 100px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-button>img {
    width: 38px;
}

.dropDownSearch{
    background-color: rgba(20, 10, 0, 0.89);
    height: 0;
    overflow: hidden;
    transition: 1000ms ease-in, 300ms; 
    display: flex;
    flex-direction: column;
}

.search-section{
    height: 80px;
    width: 100%;
    background:rgb(20, 10, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.all-products{
    height: 78vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
}

.all-search{
    background: rgba(255, 217, 0, 0.295);
    width: 160px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
}

.dropDownSearchShow{
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.search-bar{
    width: 250px;
    height: 45px;
}

.clear-button{
    width: 80px;
    height: 45px;
    font-size: 21px;
}

.cart>img {
    width: 45px;
}

